<h1>NGO </h1>



<div style="background-color:black; color:aqua;padding:20px">  

    <input type="button" name="option" value=" Add Event"  style="float: right"   >  
    
 .
</div>
<router-outlet></router-outlet>
<table class="table table-hover">
    <thead>
        <tr>
            <th>name</th>
            <th>category</th>
            <th>startdate</th>
            <th>enddate</th>  
            <th>location</th>
            <th>adultprice</th>
            <th>childprice</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let myevent of _EventsserService.events " id="">
        <td>{{myevent.name}}</td>
        <td>{{myevent.category}}</td>
        <td>{{myevent.startdate}}</td>
        <td>{{myevent.enddate}}</td>
        <td>{{myevent.location}}</td>
        <td>{{myevent.adultprice}}</td>
        <td>{{myevent.childprice}}</td>   
        <td><button [ngClass]="'btn btn-primary'">
            <a [routerLink]="['/home/change', myevent._id]" routerLinkActive="active" >Edit</a>
        </button></td>
        <td><button [ngClass]="'btn btn-danger'"> 
            <a [routerLink]="['/home/delete', myevent._id]" routerLinkActive="active" >Delete</a>
        </button></td> 
    </tr>
    </tbody>
    </table>
    
    