<h1>NGO </h1>



<div style="background-color:black; color:aqua;padding:20px">  

    <input type="button" name="option" value=" Add Event"  style="float: right"   >  
    
 .
</div>
<router-outlet></router-outlet>
<table class="table table-hover">
    <thead>
        <tr>
            <th>name</th>
            <th>category</th>
            <th>startDate</th>
            <th>endDate</th>  
            <th>location</th>
            <th>adultPrice</th>
            <th>childPrice</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let myevent of _EventsserService.events " id="">
        <td>{{myevent.name}}</td>
        <td>{{myevent.category}}</td>
        <td>{{myevent.startDate}}</td>
        <td>{{myevent.endDate}}</td>
        <td>{{myevent.location}}</td>
        <td>{{myevent.adultPrice}}</td>
        <td>{{myevent.childPrice}}</td>   
        <td><button [ngClass]="'btn btn-danger'"> 
                <a [routerLink]="['/home/delete', myevent._id]" routerLinkActive="active" >Delete</a>
            </button></td> 
        
    </tr>
    </tbody>
    </table>
    
    