
<div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Events</h1>
      
        <hr class="mt-2 mb-5">
      
        <div class="row text-center text-lg-left">
      
          <div class="col-lg-3 col-md-4 col-6">
            <a routerLink="eventregistrationdetail" routerLinkActive="active" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="https://www.monaco-pittsburgh.com/images/1700-960/rooftop-event-8f4c60b0.jpg" alt="">
                </a>
                <span> {{EventsArray[0].name}}</span>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a routerLink="eventregistrationdetail2" routerLinkActive="active" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="https://www.history.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTYzNDU3NDA2MDU4MTc3NzA3/notre-dame-gettyimages-157456313-feature.jpg" alt="">
                </a>
                <span> {{EventsArray[1].name}}</span>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a routerLink="eventregistrationdetail3" routerLinkActive="active" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                </a>
                <span> {{EventsArray[2].name}}</span>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a routerLink="eventregistrationdetail4" routerLinkActive="active" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                </a>
                <span> {{EventsArray[3].name}}</span>
          </div>








