<p>create-event works!</p>

<form *ngIf="newevent" [formGroup]="newevent" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
                <label for ="name">Name</label>
                <input formControlName="name" required type="text" id="name" name="name" >
               
              </div>
              
                    

              <div class="form-group">
                    <label for ="category">category</label>
                    <input formControlName="category"  type="text"  name="category" id="category" >
                  </div>
                 <div class="form-group">
                        <label for= "startdate">startdate</label>
                        <input formControlName="startDate" type="string"  name="startdate" id="startdate" >
                      </div>
                      <div class="form-group">
                            <label for ="enddate">enddate</label>
                            <input formControlName="endDate" type="string"  name="enddate"  id="enddate">
                          </div>
                          <div class="form-group">
                                <label for ="location">Location</label>
                                <input  formControlName="location" type="txt"  name="location" id="location">
                              </div>
                              <div class="Adult price">
                                    <label for ="adultPrice">Adult price</label>
                                    <input formControlName="adultPrice" type="number"  name="adultPrice" id="adultPrice">
                                  </div>
                                  <div class="Child price">
                                        <label for ="childPrice" >Child price</label>
                                        <input formControlName="childPrice"type="number" name="childPrice" id="childPrice" >
                                      </div>
                                      <div class="form-group">
                                            <button class="btn btn-primary" >Submit</button>
                                        </div>
                                    </form>
                               