.right {
    float: right;
}

a.addUser{
    color: #000000;
    text-emphasis: none;
    font-size: 1.3em;
    display: block;
    margin: 25px;
    text-align: center;
}

td button a{
    color: white;
    text-decoration: none;
}