<table [ngClass]="'table table-hover'" [ngStyle]="{'text-align': 'center'}">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Role</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" id="">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <div *ngIf="user.adminRole === true; then adminAction else userAction"></div>
            <ng-template #adminAction>
                <td>Admin</td>
            </ng-template>
            <ng-template #userAction>
                <td>User</td>
            </ng-template>
            <td><button [ngClass]="'btn btn-primary'">Edit</button></td>
            <td><button [ngClass]="'btn btn-danger'">Delete</button></td>
        </tr>
    </tbody>
</table>